<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>70650934920-cntmdbdrdf8rt1ir0s7ejjvm1f5r8pgr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.70650934920-cntmdbdrdf8rt1ir0s7ejjvm1f5r8pgr</string>
	<key>API_KEY</key>
	<string>AIzaSyAn2Ao6Sh-Lvvi4hsrhjVKmH_dfZh234nw</string>
	<key>GCM_SENDER_ID</key>
	<string>70650934920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aswdc.crudFirestore</string>
	<key>PROJECT_ID</key>
	<string>crud-hk1503</string>
	<key>STORAGE_BUCKET</key>
	<string>crud-hk1503.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70650934920:ios:3ef259e370ddec7bee513d</string>
</dict>
</plist>